<div class="col-md-10">
	<router-outlet></router-outlet>
</div>

<div *ngIf="listePersonnel" class="col-md-2">
	<div class="container">
        <div class="col-md-3">  
          	<div class="well" id="well2">
			    <div *ngFor="let personnel of listePersonnel" (click)="change()" class="list-group">
					<a  routerLink= "/gererPersonnel/{{personnel.id}}" [routerLinkActive]="['router-link-active']" class="surligne" >
                        <div class="list-group-item-heading">{{personnel.prenom}} {{personnel.nom}} </div>
                    </a>
                </div>
      		</div>
    	</div>
	</div>
	<a routerLink= "/gererPersonnel/ajouter" [routerLinkActive]="['router-link-active']" class="surligne">
			Ajouter
	</a>
</div>