<div class="col-sm-offset-3"><h2>Modifier Personnel :</h2></div>
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="nom">Nom : </label>
    <div class="col-sm-4">
      <input id="nom" type="text" class="form-control" pInputText [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="prenom">Prénom : </label>
    <div class="col-sm-4">
      <input id="prenom" type="text" class="form-control" pInputText [(ngModel)]="prenom" [ngModelOptions]="{standalone: true}" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="heures">Nombre d'heures : </label>
    <div class="col-sm-4">
      <input id="heures" type="number" class="form-control" pInputText [(ngModel)]="heures" [ngModelOptions]="{standalone: true}" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="statut">Statut : </label>
    <div class="col-sm-4">
      <input id="statut" type="text" class="form-control" pInputText [(ngModel)]="statut" [ngModelOptions]="{standalone: true}" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email : </label>
    <div class="col-sm-4">
      <input id="email" type="text" class="form-control" pInputText [(ngModel)]="email" [ngModelOptions]="{standalone: true}" />
    </div>
  </div>
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default" (click)="modifierPersonnel()">Modifier</button>
  </div>
</form>
