	<div *ngIf="personnel">
		<div class="col-md-12">
			<div class="col-md-6">
				<h3> Fiche personnel </h3>
				<p>Nom : {{personnel.nom}}</p>
				<p>Prénom : {{personnel.prenom}}</p>
				<p>Statut : {{personnel.statut}}</p>
				<p>E-Mail : {{personnel.email}}</p>
				<p>Droits : Visible que par les administrateur ()</p>
				<p-growl [value]="msgs"></p-growl>
				<p-confirmDialog acceptIcon="glyphicon glyphicon-ok" acceptLabel="Supprimer" rejectIcon="glyphicon glyphicon-remove" rejectLabel="Annuler" width="425"></p-confirmDialog>
				<button type="button" (click)="confirm()" pButton icon="glyphicon glyphicon-trash" label="Supprimer"></button>
				<a routerLink="/gererPersonnel/{{id}}/modifier" [routerLinkActive]="['router-link-active']" class="surligne">
					<button type="button" pButton icon="glyphicon glyphicon-cog" label="Modifier"></button>
				</a>
			</div>
			<div class="col-md-6">
				<h3> Heures de travail </h3>
				<div class="progress" style="height:50px">
					<div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">
						CM : 32h (33,3 %)
					</div>
					<div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%">
						TD : 48h (33,3 %)
					</div>
					<div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%">
						TP : 48h (33,3 %)
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div class="col-md-12">
			<div class="col-md-6">
				<h3> Ses interventions </h3>
				<div class="table-responsive"style="width: 100%">
				   <table class="well well-lg table table-striped">
			<thead>
				<tr>
					<th>Nom</th>
				</tr>
			</thead>
			<tbody *ngIf="personnels">
				<tr *ngFor="let personnel of personnels">
					<td>{{personnel.nom}} {{personnel.prenom}}</td>
				</tr>
			</tbody>
			<tbody *ngIf="personnels == ''">
				<tr><td>Aucun</td></tr>
			</tbody>
		</table>
				</div>
			</div>
			<div class="col-md-6">
				<h3> Ses UE en tant que responsable </h3>
				<div class="table-responsive"style="width: 100%">
					<table class="table table-condensed table-striped table-bordered table-hover no-margin">
					  <thead>
						<tr>
						  <th>UE</th>
						  <th>Intitulé</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>UE1111</td>
						  <td>Base de programmation</td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<h3> Ajouter Heures </h3>
			<p>Choix de l'UE<p>
			<p>Nombre Heures CM</p>
			<p>Nombre Heures TD</p>
			<p>Nombre Heures TP</p>
		</div>
	</div>
