<h1>Interventions</h1>

<div *ngIf="interventions">
  <div class ="lead"> nombre d'heures total: {{interventions.heureTotal}} </div>
  <div class ="lead"> nombre d'heures restant: {{interventions.heureRestant}} </div>

  <div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
      <thead>
        <tr>
          <th>N° UE</th>
          <th>Intitulé</th>
          <th>Nom Responsable</th>
          <th>Heures CM</th>
          <th>Heures TD</th>
          <th>Heures TP</th>
          <th>Date d'ajout</th>
          <th>Attribution par</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let intervention of interventions.interventions">
          <td>{{intervention.numUE}}</td>
          <td>{{intervention.intitule}}</td>
          <td>{{intervention.responsableUE}}</td>
          <td>{{intervention.hCM}}</td>
          <td>{{intervention.hTD}}</td>
          <td>{{intervention.hTP}}</td>
          <td>
            <span class="label label label-info">New</span>
            {{intervention.date}}
          </td>
          <td>{{intervention.attribution}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
