<h1>interventions </h1>
<div *ngIf="getData">
  <div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
      <thead>
        <tr>
          <th style="width:15%">Nom module</th>
          <th style="width:15%">Nom responsable</th>
          <th style="width:10%" class="hidden-phone">Type cours</th>
          <th style="width:15%" class="hidden-phone">Nombre d'heures</th>
          <th style="width:15%" class="hidden-phone">Date attribution</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of getData.data">
          <td>{{car.brand}}</td>
          <td>{{car.year}}</td>
          <td>{{car.color}}</td>
          <td>{{car.vin}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ul>
    <li *ngFor="let car of getData.data">
      {{car.brand}} - {{car.year}} - {{car.color}} - {{car.vin}}
    </li>
  </ul>
</div>
