<div class="col-md-10">
	<router-outlet></router-outlet>
</div>

<div *ngIf="listeStatuts" class="col-md-2">
    <ul *ngFor="let statuts of listeStatuts"  class="list-group">
			<a routerLink= "/gererStatuts/{{statuts.id}}" [routerLinkActive]="['router-link-active']" (click)="loadPage()" class="surligne">
				<li class="list-group-item" >{{statuts.label}}</li>
			</a>
    </ul>
		<a routerLink= "/gererStatuts/ajouter" [routerLinkActive]="['router-link-active']" class="surligne">
			Ajouter
		</a>
</div>
