<p-growl [value]="msgs"></p-growl>
<div class="col-md-10">
	<router-outlet></router-outlet>
</div>



<div class="col-md-2">
	<div *ngIf="listeStatuts">
		<div style="  width: 100%; " class="pull-right" >
		  <div class="panel panel-primary">
				    <div class="panel-heading">
				      <span class="glyphicon glyphicon-pencil"></span>  <span style= "font-weight: bold;"> Statut </span>
							<hr style= "margin-top:10px ; margin-bottom:10px"/>
				        <ul *ngFor="let statuts of listeStatuts"  style=" height:15px; word-wrap: break-word;" >
								<li style = "list-style-type: none;" >
									<a style=" color: white;" routerLink= "/gererStatuts/{{statuts.id}}" [routerLinkActive]="['router-link-active']" (click)="loadPage()" class="surligne"> {{statuts.label}} </a>
							    </li>
				        </ul>
				   </div>
			</div>
		</div>
	</div>
		<a routerLink= "/gererStatuts/ajouter" [routerLinkActive]="['router-link-active']" class="surligne">
			<button>Ajouter</button>
		</a>
</div>
