<div class="col-sm-offset-3"><h2>Fiche Statut :</h2></div>
<div *ngIf="statuts">
	<div class="row">
		<div class="col-md-12">
			<h3>Nom du statut : {{statuts.label}}</h3>
			<h4>Service annuel (TD/TP) : {{statuts.heures}}</h4>
			<hr/>
			<h4>Liste des personnes ayant ce statut :</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Fiche Professeur</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Prigent</td>
						<td>Armelle</td>
						<td>BOUTON</td>
					</tr>
				</tbody>
			</table>
			<button (click)="deleteStatut(id)">Supprimer</button>
		</div>
	</div>
</div>
