<h1>Gérer UE</h1>

<div class="col-md-8">
	<div *ngIf="UE">
		<div class="row" >
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Titre de l'UE</th>
							<th>Heures CM</th>
							<th>Heures TD</th>
							<th>Heures TP</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{UE.numero}} : {{UE.intitule}}</td>
							<td>{{UE.cm}}</td>
							<td>{{UE.td}}</td>
							<td>{{UE.tp}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div *ngIf="listeUE" class="col-md-4">
  <ul *ngFor="let UE of listeUE" (click)="change()" class="list-group">
    <a routerLink= "/gererUE/{{UE.id}}" [routerLinkActive]="['router-link-active']" class="surligne">
      <li class="list-group-item">{{UE.numero}} {{UE.intitule}}</li>
    </a>
  </ul>
</div>
