<div *ngIf="UE">
	<div class="row">
		<div class="col-md-12">
			<h4>{{UE.numero}} : {{UE.label}}</h4>
			<h4>Responsable de l'UE : {{UE.responsable}}</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>CM</th>
						<th>TD</th>
						<th>TP</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{UE.cm}}</td>
						<td>{{UE.td}}</td>
						<td>{{UE.tp}}</td>
					</tr>
				</tbody>
			</table>
			<p-growl [value]="msgs"></p-growl>
			<a routerLink="/gererUE/{{id}}/modifier" [routerLinkActive]="['router-link-active']" class="surligne">
				<button type="button" pButton icon="glyphicon glyphicon-cog" label="Modifier"></button>
			</a>
			<hr/>

			<h4>Liste des personnes ayant cette UE :</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Fiche Professeur</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Prigent</td>
						<td>Armelle</td>
						<td>BOUTON</td>
					</tr>
				</tbody>
			</table>
			<button>Ajouter des professeurs dans la liste</button>
			<hr/>
			<div>
				<p-growl [value]="msgs"></p-growl>
				<p-confirmDialog acceptIcon="glyphicon glyphicon-ok" acceptLabel="Supprimer" rejectIcon="glyphicon glyphicon-remove" rejectLabel="Annuler" width="425"></p-confirmDialog>
				<button type="button" (click)="confirm()" pButton icon="glyphicon glyphicon-trash" label="Supprimer"></button>
			</div>
			<!--<p-dialog header="Suppression d'un UE" [(visible)]="displayDial" modal="modal" responsive="true">
    	<p>Etes-vous sûr de supprimer l'UE {{UE.numero}} : {{UE.label}} ?</p>
        	<footer>
	            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
	                <button type="button" (click)="displayDial=false" label="Annuler">Annuler</button>
	                <button type="button" (click)=deleteUE(id) label="Supprimer">Supprimer</button>
	            </div>
        	</footer>
			</p-dialog>-->

			<!--<button type="text" (click)="showDialog()" label="Supprimer">Supprimer</button>-->
		<!--	<div class="modal-header"><h2>Suppression d'un UE</h2></div>
			<div class="modal-body">Etes-vous sûr de supprimer l'UE {{UE.numero}} : {{UE.label}} ?</div>
			<div class="modal-footer">
				<button class="btn" ng-click="cancel()">Annuler</button>
    		<button class="btn btn-primary" ng-click="delete()">Supprimer</button>
			</div>
			<dialog id="deleteDialog">
				<form method="dialog">
					<section>
						<p>Etes-vous sûr de supprimer l'UE {{UE.numero}} : {{UE.label}} ?</p>
					</section>
					<menu>
						<button id="cancel" type="reset" value="non">Non</button>
						<button value="oui" (click)="deleteUE(id)">Supprimer</button>
					</menu>
				</form>
			</dialog>
			<menu>
				<button id="delete">Supprimer</button>
			</menu>
			<script text="javascript">
			  (function() {
			    var deleteButton = document.getElementById('delete');
			    var cancelButton = document.getElementById('cancel');

			    deleteButton.addEventListener('click', function() {
			      document.getElementById('deleteDialog').showModal();
			    });

			    cancelButton.addEventListener('click', function() {
			      document.getElementById('deleteDialog').close();
			    });

			  })();
			</script>
			<button (click)="deleteUE(id)">Supprimer</button>-->
			<hr/>
		</div>
	</div>
</div>
