<h1>Gérer Statuts</h1>

<div class="col-md-8">
  <div *ngIf="statuts">
    <div class="row" >
		<div class="col-xs-12 col-sm-5 col-md-4 col-lg-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nom du statuts</th>
						<th>Heures à répartir</th>
						<th>Autorisation</th>
					</tr>
				</thead>
					<tr>
						<td>{{statuts.label}}</td>
						<td>{{statuts.heures}}</td>
						<td>{{statuts.autorisation}}</td>
					</tr>
			</table>
		</div>
	</div>
  </div>
</div>
<div *ngIf="listeStatuts" class="col-md-4">
  <ul *ngFor="let statuts of listeStatuts" (click)="getStatuts(statuts.id)" class="list-group">
	<a routerLink= "/gererStatuts/{{statuts.id}}" [routerLinkActive]="['router-link-active']"  class = "surligne">
    <li class="list-group-item">{{statuts.label}}</li>
	</a>
  </ul>
</div>

<!--<h1>Gérer Statuts</h1>
  <h2>UE Genie logiciel</h2>

<div class="col-xs-12 col-sm-5 col-md-4 col-lg-9">
<div class="span3">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Statut</th>
      <th>Heures CM</th>
      <th>Heures TD</th>
      <th>Heures TP</th>
      <th> Fiche professeur</th>
      <th><span class="glyphicon glyphicon-plus"></span></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Guillaume</td>
      <td>Jean-loup</td>
      <td>Professeur chercheur</td>
      <td>0</td>
      <td>6</td>
      <td>8</td>
      <td> <span class="glyphicon glyphicon-eye-open"></span></td>
      <td> <span class="glyphicon glyphicon-remove"></span> </td>
    </tr>

    <tr>
      <td>Boulange</td>
      <td>Jean-Baptiste</td>
      <td>Doctorant</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td> <span class="glyphicon glyphicon-eye-open"></span></td>
      <td> <span class="glyphicon glyphicon-remove"></span> </td>
    </tr>
 <tr>
      <td>Dupont </td>
      <td>Jean</td>
      <td>Professeur chercheur</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td> <span class="glyphicon glyphicon-eye-open"></span></td>
      <td> <span class="glyphicon glyphicon-remove"></span> </td>
    </tr>

    <tr>
      <td>Boulange</td>
      <td>Jean-Baptiste</td>
      <td>Doctorant</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td> <span class="glyphicon glyphicon-eye-open"></span></td>
      <td> <span class="glyphicon glyphicon-remove"></span> </td>
    </tr>
  </tbody>
</table>

</div>
</div>



<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input id="search" type="text" class="form-control input-lg" placeholder="Search" />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Genie logiciel</li>
              <li class="list-group-item">Technique de programmation</li>
            </ul>
          </div>
</div>
-->