<div class="span3">
  <h2>UE Genie logiciel</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Statut</th>
      <th>Heures CM</th>
      <th>Heures TD</th>
      <th>Heures TP</th>
      <th> Modifier heures</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Guillaume</td>
      <td>Jean-loup</td>
      <td>Professeur chercheur</td>
      <td>0</td>
      <td>6</td>
      <td>8</td>
      <td> <a routerLink= "/#" >Editer</a></td>
      <td> <span class="glyphicon glyphicon-remove"></span> </td>
    </tr>

    <tr>
      <td>Boulange</td>
      <td>Jean-Baptiste</td>
      <td>Doctorant</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td> <a routerLink= "/#" >Editer</a></td>
      <td> <span class="glyphicon glyphicon-remove"></span> </td>
    </tr>
 <tr>
      <td>Dupont </td>
      <td>Jean</td>
      <td>Professeur chercheur</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td> <a routerLink= "/#" >Editer</a></td>
      <td> <span class="glyphicon glyphicon-remove"></span> </td>
    </tr>

    <tr>
      <td>Boulange</td>
      <td>Jean-Baptiste</td>
      <td>Doctorant</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td> <a routerLink= "/#" >Editer</a></td>
      <td> <span class="glyphicon glyphicon-remove"></span> </td>
    </tr>
  </tbody>
</table>

</div>