<h1>Décharges</h1>
<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
		<thead>
			<tr>
				<th>Raison</th>
				<th>Nombre d'heures</th>
			</tr>
		</thead>
		<tbody *ngIf="decharges">
			<tr *ngFor="let decharges of decharges.decharges">
				<td>{{decharges.raisonDecharge}}</td>
				<td>{{decharges.temps}}</td>
			</tr>
		</tbody>
    </table>
</div>
 
  <div class="col-sm-4">
    <p>Heure à affecter : 192H</p>
	<p>Total décharge : </p>
	<p>Heures à effecuter</p>
  </div>
 



