<h1> Planning de l'université de La Rochelle </h1>

<div class="container">
    <div class="omb_login">
      <h3 class="omb_authTitle">Connexion</h3>

    <div class="row omb_row-sm-offset-4">
      <div class="col-xs-12 col-sm-6">  
          <form class="omb_loginForm" action="" autocomplete="off" method="POST">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Login">
          </div>
          <span class="help-block"></span>
          <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/accueil" >Login</button>
        </form>
      </div>
      </div>      
  </div>
 </div>

