<h1>Gérer Droits</h1>
<input id="input" type="text" size="30" pInputText [(ngModel)]="text" />
<button (click)="getData()">Test ton biftek</button>
<p>Output : {{value}}</p>
<br />
Link :
<input id="input" type="text" size="30" pInputText [(ngModel)]="link" />
Value :
<input id="input" type="text" size="30" pInputText [(ngModel)]="data" />
<button (click)="postData()">Test ton PO PO PO POST</button>
<br />
<br />
Link :
<input id="input" type="text" size="30" pInputText [(ngModel)]="deleteLink" />
ID :
<input id="input" type="text" size="30" pInputText [(ngModel)]="deleteID" />
<button (click)="deleteData()">Delete au bout du monde</button>
<p>Result : {{val}}</p>
