<h1>Gérer Droits</h1>
<input id="input" type="text" size="30" pInputText [(ngModel)]="urlGet" />
<button (click)="getData()">GET</button>
<p>Output : {{resultGet}}</p>
<br />
Link :
<input id="input" type="text" size="30" pInputText [(ngModel)]="urlPost" />
Value :
<input id="input" type="text" size="30" pInputText [(ngModel)]="dataPost" />
<button (click)="postData()">POST</button>
<p>Result : {{resultPost}}</p>
<br />
<br />
Link :
<input id="input" type="text" size="30" pInputText [(ngModel)]="urlPut" />
Value :
<input id="input" type="text" size="30" pInputText [(ngModel)]="dataPut" />
<button (click)="putData()">PUT</button>
<p>Result : {{resultPut}}</p>
<br />
<br />
Link :
<input id="input" type="text" size="30" pInputText [(ngModel)]="urlDelete" />
ID :
<input id="input" type="text" size="30" pInputText [(ngModel)]="idDelete" />
<button (click)="deleteData()">DELETE</button>
<p>Result : {{resultDelete}}</p>
